/**
 * OUTERMOST PAGE FRAME
**/
.grd-page-cntr {
  background-color: white;
  display: grid;
  grid-template-areas:
    'navi navi'
    'head head'
    'main-left main-right'
    'foot foot'
  ;
}
.grd-head {
  grid-area: head;
}
.grd-navi {
  grid-area: navi;
}
.grd-main-left {
  grid-area: main-left;
}
.grd-main-right {
  grid-area: main-right;
}
.grd-foot {
  grid-area: foot;
}
/**
 * MASTHEAD
**/
.grd-mast-cntr {
  display: grid;
  grid-template-areas:
    'copy main main cred'
    'hed hed hed hed'
    'dek dek dek dek'
    'left left right right'
  ;
}
.grd-mast-copy {
  align-self: center;
  grid-area: copy;
}
.grd-mast-main {
  grid-area: main;
}
.grd-mast-cred {
  align-self: center;
  grid-area: cred;
  justify-self: end;
}
.grd-mast-hed {
  grid-area: hed;
}
.grd-mast-dek {
  grid-area: dek;
}
.grd-mast-left {
  grid-area: left;
}
.grd-mast-right {
  grid-area: right;
  text-align: right;
}
